 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=MedievalSharp&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
 .hero1{
    background-image: url("../images/lofoten2.jpg");
     /* background-image: url(images/Trolltunga\ 2.jpg); */
    /* opacity: 80%; */
    padding: 100px;
    height:386px;
   
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
.h2,h3,h4,h5,h6{
  font-family: Cinzel,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
} */
/* h1,h2,h3,h4,h5,h6{
    
} */

.headingN{
   font-family: "Cinzel Decorative", 'Times New Roman', Times, serif, 'Roboto Condensed';
  font-size: 40px;
    
    margin-top: -110px;
    letter-spacing: 4px;
    color: #faf8f8;
    transition: 1s;
    text-align: center;
    /*  text-shadow: X-offset Y-offset Blur-radius Color; */
    text-shadow:
    0 0 5px #a8dfff,
    0 0 5px #8edaff,
    0 0 10px #6ecaff;
}

.parallax-transition {
     background-image: url('/static/images/lofoten3.jpg');
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-overlay {
  background-color: rgba(72, 79, 95, 0.7);
  color: #F5EEDD;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
}

.parallax-overlay h2 {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.parallax-overlay p {
  font-size: 1.2em;
  line-height: 1.5;
}

.headingN:hover{
    letter-spacing: 6px;
    transform: scale(1.1);
}

.heading1{
    /* padding:1px ; */
     /* background: linear-gradient(to left, rgb(208, 230, 246), #2c3e50); */
    /* color: #a9b8cd; */
    font-size: 35px; 
    /* width:600px; */
    text-transform: uppercase;
    font-family:"Uncial Antiqua" ,Roboto Condensed, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* padding-bottom: 20px; */
    /* padding-left: 210px; */
 

    /* border-style: outset;
    border-width: 2px;
    border-color:rgba(160, 130, 79, 0.452);
    background-color:#1a1d26b4;
    border-radius:2px;
    display: inline-block; */



  /* font-family: 'Cinzel Decorative', serif; */
  /* font-size: 3rem; */
  color: #f4f1e6;
  text-shadow: 0 0 6px #1a1f1e;
  letter-spacing: 2px;
  

   /*animation-duration: 10s;
   animation-timing-function: ease;
   animation-delay: 0s;
   animation-iteration-count:1;
   animation-play-state: running;
   animation:Slide1;*/
   animation: 5s ease 0s 1  running Slide2;
   animation-fill-mode: forwards;
   
}
@keyframes Slide2 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.heading2{
   
  background: rgba(6, 32, 43, 0.7); /* deep blue with transparency */
  color: #F5EEDD;
  font-family: 'Cinzel', serif;
  padding:5px 23px;
  font-size: 20px;
  /* padding: 10px 25px; */
  border-left: 5px solid #7AE2CF; /* accent edge */
  display: inline-block;
  margin-left: 366px;
  border-radius: 56px;
  margin-top: 15px;
  box-shadow: 0 0 12px #32c9f175;
  text-align: center;
}

.tripdetails {
display:flex;
 flex-direction: row;
 justify-content: center;
  margin: 5px 421px -5px 421px;
  padding: 7px 9px;
  background: #7babbf;
 
  color: #F5EEDD;
  font-weight: bold;
  text-decoration: none;
font-family: Uncial Antiqua ;
  box-shadow: 0 0 12px #7AE2CF;
  transition: 0.3s;
  border: 2px outset white;
    border-radius: 17px;
}
.tripdetails:hover {
    color: wheat;
  background: #052021;
  box-shadow: 0 0 18px #32c9f1;
  letter-spacing: 2px;
}



.head34wrap{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-between;
    gap:100px;
    /* gap:40px; */
}

.heading3{
   color:#cde4ff;
    padding:1px 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 15px; 
    letter-spacing: 1px;
    width: 287px; 
    height: 150px;
    font-family: Cinzel;
     border-radius: 2px; 
      transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.heading3:hover{
    transform: scale(1.03); /* Instant scale up */
}
.heading4{

 color:#fcfdfe;
 text-shadow:
    0 0 5px #a8dfff,
    0 0 5px #8edaff,
    0 0 10px #6ecaff; 




    padding:1px 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 15px; 
    letter-spacing: 1px;
    width: 591px;
    height: 150px;
    border-radius: 2px; 
     font-family: Cinzel;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.heading4:hover{
    transform: scale(1.03); /* Instant scale up */
}

.heading5{
    font-family: Cinzel;
    color:#cde4ff;
    padding:1px 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 15px; 
    width: 287px;
    height: 150px;
    border-radius: 2px; 
    letter-spacing: 1px;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .heading5:hover{
    transform: scale(1.03); /* Instant scale up */
}



#h6{
    border-style: outset;
    border-width: 5px;
    border-color:rgb(160, 130, 79);
    background-color:#1a1d26;
    border-radius:10px;
    padding-left:  45px;
    padding-right: 45px;
    padding-top:10px;
    padding-bottom: 14px;
    box-shadow: 0 0 15px #58ccff;
}
.features{
  
    background-image: url("../images/bg9.png"); 
    padding: 5px 21px 15px 40px;
    /* height:200px; */ /* Removed fixed height so columns/images can expand */
    /* background-color:rgb(22, 22, 22); */
    /* border-top:1px solid rgb(53, 64, 69) ; */
    color:#3d3d50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    margin: 12px -20px 1px 11px;
    
}

.desticolwrap{
     display: flex;
     flex-direction: column;
   
    justify-content:flex-start;
    align-items:center;
    padding: 2px 6px -5px 33px;


}


.destinationf{
    /* padding:30px 10px; */
    font-family: Cinzel Decorative, MedievalSharp, Uncial Antiqua, Cinzel;
    letter-spacing: 2px;
    color: rgb(212, 229, 255);
    text-shadow:3px 1px #131415;
    

  

}
#column1{
    background-image: url("/static/images/lofoten3.jpg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

#column2{
    background-image: url("/static/images/Trolltunga 2.jpg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

#column3{
    background-image: url("/static/images/sognefjord2.jpg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

#column4{
    background-image: url("/static/images/voringsoffen.jpg");
    background-size: 287px 250px;
    background-repeat: no-repeat;
    background-position: center;
}
#column5{
    background-image: url("/static/images/lofotr.jpg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

#column6{
    background-image: url("/static/images/oslo2.jpg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

#column7{
    background-image: url("/static/images/museum1.jpg");
    background-size: 287px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

.colwrap{
        width:1205px;
        display:flex;
        justify-content: space-between;
        flex-wrap:nowrap;
       overflow-x: auto;
    }

.colwrap::-webkit-scrollbar{
    display:none;
}

.coltext1{
    text-align: center;
    color: #d7dcef;
    text-shadow:2px 2px #11122b;
    font-weight: 800;
    font-family: Roboto Condensed, Bebas Neue, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
.coltext2{
    text-align: center;
    text-shadow:2px 2px #11122b;
    font-weight: 800;
    color: #e7e5cd;
     font-family:  Roboto Condensed, Bebas Neue,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    .column{
        width: 370px;
        height: 250px;
        padding: 20px 10px 10px 10px;
        margin: 7px;
        text-align:end;
        border-bottom:5px solid #0c102ee0;
            border-right: 5px solid;
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        background-color: rgba(0,0,0,0.1);
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37), 0 2px 8px 0 rgba(0,0,0,0.25);
    }

    .column:hover{
        border-style: outset;
     border: 2px solid #b9b275; 
        /* border-image:linear-gradient(to right,rgb(13, 13, 49),rgb(182, 187, 247))1; */
         /* border-right: 6px solid #11122b; */
        transform: scale(1.2);
    } 

.features .colwrap .column :nth-child(2) {
     font-size:1.5em;
     font-weight: 900;
     height:50px;
     transition: 1s;
}    

.features .colwrap .column :nth-child(2):hover {
    letter-spacing: 1px;
}